In [50]:
from PIL import Image
import os
import pandas as pd
import numpy as np

# Import all_data_info.csv

In [33]:
root_path = os.path.dirname(os.getcwd())
root_path

'C:\\Users\\clair\\code\\ClaireLeroux44\\ArtRecognition'

In [34]:
link = os.path.join(root_path,'raw_data','all_data_info.csv')
link

'C:\\Users\\clair\\code\\ClaireLeroux44\\ArtRecognition\\raw_data\\all_data_info.csv'

In [35]:
db_df = pd.read_csv(link)
print(db_df.shape)
db_df.head()

(103250, 12)

,artist,date,genre,pixelsx,pixelsy,size_bytes,source,style,title,artist_group,in_train,new_filename
0,Barnett Newman,1955.0,abstract,15530.0,6911.0,9201912.0,wikiart,Color Field Painting,Uriel,train_only,True,102257.jpg
1,Barnett Newman,1950.0,abstract,14559.0,6866.0,8867532.0,wikiart,Color Field Painting,Vir Heroicus Sublimis,train_only,True,75232.jpg
2,kiri nichol,2013.0,NaN,9003.0,9004.0,1756681.0,NaN,Neoplasticism,NaN,test_only,False,32145.jpg
3,kiri nichol,2013.0,NaN,9003.0,9004.0,1942046.0,NaN,Neoplasticism,NaN,test_only,False,20304.jpg
4,kiri nichol,2013.0,NaN,9003.0,9004.0,1526212.0,NaN,Neoplasticism,NaN,test_only,False,836.jpg

# RESIZE ALL TEST IMAGE

In [29]:
# source_folder = '../raw_data/test/'
# destination_folder = '../raw_data/test/Resized/'
# directory = os.listdir(source_folder)

# for item in directory:
#     if os.path.getsize(source_folder + item) < 100_000_000:
#         try:  
#             img = Image.open(source_folder + item)
#             imgResize = img.resize((224, 224), Image.ANTIALIAS)
#             imgResize.save(destination_folder + item, quality = 90)
#         except OSError: 
#             print(f'OSError: {item}')
#     else: 
#         print(item)

In [61]:
#os.path.getsize('../raw_data/test/24000.jpg')

In [62]:
# img_0 = Image.open('../raw_data/test/Resized/0.jpg')
# print(img_0.size)

# Create Dataframe for artist by number

In [63]:
liste_new_name = []
for index,artist in enumerate(liste_artists,1):
    new_name = f"_{index}"
    liste_new_name.append(new_name)

new_artist_names = dict(zip(liste_new_name,liste_artists))
artists_df = pd.DataFrame.from_dict(new_artist_names,orient='index').reset_index()
artists_df = artists_df.rename(columns=({'index':'artist_number', 0:'artist_name'}))
artists_df.head()

  artist_number                artist_name
0            _1             Barnett Newman
1            _2                kiri nichol
2            _3              Tosa Mitsuoki
3            _4                  Hiroshige
4            _5  Franz Richard Unterberger

# Create FILE FOR EVERY ARTIST

In [65]:
filenames = os.listdir(os.path.join(root_path,'raw_data','test','Artistes'))
len(filenames)

2319

In [39]:
for index,artist in enumerate(liste_artists,1):
    new_name = f"_{index}"
    artist_dir = os.path.join(root_path,'raw_data','test','Artistes',new_name)
    if not os.path.exists(artist_dir):
        os.makedirs(artist_dir)

In [40]:
import shutil

for index,artist in enumerate(liste_artists,1):
    new_name = f"_{index}"
    filenames = artist_file[artist]

    for file in filenames:
        source_path = os.path.join(root_path,'raw_data','test',file)
        destination_path = os.path.join(root_path,'raw_data','test','Artistes',new_name,file)
        
        if os.path.exists(source_path) and not os.path.exists(destination_path):
            shutil.copyfile(source_path, destination_path)

In [43]:
count =db_df[['artist','title']].groupby('artist').count()[['title']]

In [44]:
count =count.sort_values('title',ascending=False).reset_index()

In [45]:
count = count[count['title']>0]

In [46]:
work_count = db_df.groupby(by='artist')[['title']].count().reset_index()
work_count = work_count.rename(columns = {'title':'artwork_count'}).sort_values(by='artwork_count', ascending=False).reset_index(drop=True)
work_count = work_count.loc[work_count['artwork_count']>0]
print(work_count.shape)
work_count.head()

(2312, 2)

          artist  artwork_count
0  Ivan Shishkin            500
1  Pablo Picasso            500
2   Marc Chagall            500
3      Rembrandt            500
4     Ilya Repin            500

In [52]:
for i in range(5):
    print(f"Number of artist between {100*i} and {100*(i+1)-1} artworks: {len(work_count.loc[np.logical_and(work_count['artwork_count']>=100*i, work_count['artwork_count']<=100*(i+1)-1)])}")
print(f"Number of artist with {500} artworks: {len(work_count.loc[work_count['artwork_count']==500])}")

Number of artist between 0 and 99 artworks: 2055
Number of artist between 100 and 199 artworks: 147
Number of artist between 200 and 299 artworks: 53
Number of artist between 300 and 399 artworks: 20
Number of artist between 400 and 499 artworks: 25
Number of artist with 500 artworks: 12

In [53]:
select_artists = work_count[work_count['artwork_count']==500].artist
select_artists

0                  Ivan Shishkin
1                  Pablo Picasso
2                   Marc Chagall
3                      Rembrandt
4                     Ilya Repin
5            John Singer Sargent
6          Pierre-Auguste Renoir
7                 Albrecht Durer
8                Ivan Aivazovsky
9                   Gustave Dore
10    Giovanni Battista Piranesi
11             Zdislav Beksinski
Name: artist, dtype: object

In [60]:
select_artists_count = {}
for artist in select_artists:
    artist_dir = os.path.join(root_path,'raw_data','test','Artistes',new_name)
    select_artists_count[artist] = [len(os.listdir(artist_dir))]

In [59]:
pd.DataFrame.from_dict(select_artists_count,orient='index')

                            0
Ivan Shishkin               0
Pablo Picasso               0
Marc Chagall                0
Rembrandt                   0
Ilya Repin                  0
John Singer Sargent         0
Pierre-Auguste Renoir       0
Albrecht Durer              0
Ivan Aivazovsky             0
Gustave Dore                0
Giovanni Battista Piranesi  0
Zdislav Beksinski           0