In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
root_path = os.path.dirname(os.getcwd())
root_path

'C:\\Users\\clair\\code\\ClaireLeroux44\\ArtRecognition'

In [3]:
link = os.path.join(root_path,'ArtRecognition', 'data','all_data_info.csv')
link

'C:\\Users\\clair\\code\\ClaireLeroux44\\ArtRecognition\\ArtRecognition\\data\\all_data_info.csv'

In [4]:
all_data_df = pd.read_csv(link)
all_data_df.head()

,artist,date,genre,pixelsx,pixelsy,size_bytes,source,style,title,artist_group,in_train,new_filename
0,Barnett Newman,1955.0,abstract,15530.0,6911.0,9201912.0,wikiart,Color Field Painting,Uriel,train_only,True,102257.jpg
1,Barnett Newman,1950.0,abstract,14559.0,6866.0,8867532.0,wikiart,Color Field Painting,Vir Heroicus Sublimis,train_only,True,75232.jpg
2,kiri nichol,2013.0,NaN,9003.0,9004.0,1756681.0,NaN,Neoplasticism,NaN,test_only,False,32145.jpg
3,kiri nichol,2013.0,NaN,9003.0,9004.0,1942046.0,NaN,Neoplasticism,NaN,test_only,False,20304.jpg
4,kiri nichol,2013.0,NaN,9003.0,9004.0,1526212.0,NaN,Neoplasticism,NaN,test_only,False,836.jpg

In [18]:
artists_df = all_data_df[["artist", "new_filename"]].groupby(['artist']).count().sort_values(by="new_filename", ascending=False).reset_index()
artists_df.head(2)

                artist  new_filename
0  John Singer Sargent           500
1            Rembrandt           500

In [21]:
liste_artists = list(artists_df['artist'].unique())

In [25]:
artist_by_number = []
for index,artist in enumerate(liste_artists,1):
    new_name = f"_{index}"
    artist_by_number.append(new_name)

In [28]:
prov_number_df = pd.DataFrame(artist_by_number)
prov_number_df.head(2)

    0
0  _1
1  _2

In [29]:
# final_df = pd.concat([artists_df, prov_number_df], axis=1)

In [31]:
final_df.columns = ['artist', 'number_paintings', "artist_number"]

In [32]:
final_df

                       artist  number_paintings artist_number
0         John Singer Sargent               500            _1
1                   Rembrandt               500            _2
2               Pablo Picasso               500            _3
3               Ivan Shishkin               500            _4
4             Ivan Aivazovsky               500            _5
...                       ...               ...           ...
2314           Light Snowfall                 1         _2315
2315      Little White House                  1         _2316
2316              Long Island                 1         _2317
2317                     Love                 1         _2318
2318  ∞ /detail 868149-893746                 1         _2319

[2319 rows x 3 columns]

In [33]:
# final_df.to_csv('C:\\Users\\clair\\code\\ClaireLeroux44\\ArtRecognition\\ArtRecognition\\data\\artists_numbers.csv')